# Ignore node_modules directory
node_modules/

# Ignore built output
dist/
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore vite build files
dist_vite/

# Ignore turbo
.turbo
